 .imgContainer {
     overflow: hidden;
     height: 300px;
 }


 

 .custom-btn{
    padding: 10px 30px;
    border: 1px solid white;
    height: 50px;
 }

 .custom-btn:hover{
    background: var(--primaryColor);
    cursor: pointer;
    color: black;
 }

 .card-container{
    box-shadow: 0 0 15px black;
 }